<div id="top_menu">
    <div class="top-menu-container">
<div class="top-menu-credentials">
  <div class="logo">
    <h1>WideSpread</h1>
  </div>
</div>
<div class="top-menu-nav">
  <ul>
    <!-- Landing Page -->
    <li>
      <a href="./index.html">Home</a>
    </li>
    <!-- AR-Spread -->
    <li>
      <a href="./ar-spread.html">AR</a>
    </li>
    <!-- SpreadShield -->
    <li><a href="./spreadshield-center.html">SpreadShield</a></li>
    
  </ul>
</div>
</div>
</div>