/* Google Fonts */

/* 
font-family: 'Orbitron', sans-serif;
*/

#top_menu {
    padding-top: 0;
    margin-top: 0;
    width: 90vw;
    height: 56px;
    background: rgba(255, 255, 255, 0.342);
    position: fixed;
    z-index: 1000;
    left: 5%;
    top: 0;
    box-shadow: 0 0 40px rgba(25, 186, 214, 0.644),
      inset 0 0 20px rgba(25, 186, 214, 0.774);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  /* 
  
  TOP MENU
  
  */
  .top-menu-container {
    padding-top: 0;
  }
  .top-menu-credentials {
    width: 30vw;
    float: left;
  }
  .top-menu-credentials h1 {
    padding-top: 0;
    padding-left: 10px;
    margin-top: 0;
    height: 50px;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    font-family: "Michroma";
    text-shadow: 0 0 8px rgba(25, 186, 214, 0.644);
    cursor: none;
    width: 30vw;
  }
  .top-menu-nav {
    padding-top: 5px;
    margin-top: 0;
    width: 55vw;
    height: 50px;
    float: left;
  }
  .top-menu-nav ul {
    padding-top: 0;
    margin-top: 0;
    margin-left: 40px;
  }
  .top-menu-nav li {
    padding-top: 2px;
    margin-top: 5px;
    width: 20%;
    float: left;
    margin-left: 15px;
    text-align: center;
    list-style: none;
    font-size: 18px;
    font-family: "Michroma";
  }
  .top-menu-nav li:hover {
    color: white;
    text-shadow: 0 0 2px white;
    transition: ease-in 500ms;
  }
  .top-menu-nav a {
    text-shadow: 0 0 4px rgba(25, 186, 214, 0.844);
    color: rgba(255, 255, 255, 0.452);
    text-decoration: none;
    transition: ease-in 500ms;
  }
  .top-menu-nav a:hover {
    transition: ease-in 500ms;
    color: white;
  }
  /* 
  
  Bottom Menu
  
  */
  #bottom_menu {
    width: 80vw;
    height: 36px;
    background: rgba(15, 142, 151, 0.22);
    position: fixed;
    z-index: 900;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 6px white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  #bottom_menu h1 {
    font-size: 18px;
    padding-left: 15px;
    padding-bottom: 8px;
    font-family: "Michroma";
    color: rgba(255, 255, 255, 0.699);
    text-shadow: 0 0 6px rgba(131, 22, 22, 0.884);
    cursor: pointer;
  }
  
  
  
  #place-label > span {
      z-index: 99999;
      padding: 0.25em;
      color: #ffe600;
      text-align: center;
      background-color: rgba(0 0 0 0.5);
      font-size: 1.5em;
      border-radius: 5px;
  }
  
 .page-title {
    font-family: 'Orbitron', sans-serif;
  }